<% layout('/layouts/boilerplate') %>

    <body>
        <div class="row offset-2">
            <div class="col-8">
                <h2 class="mt-3">Create a new Listings</h2>
                <form class="needs-validation" action="/listings/create" method="post" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input name="listing[title]" type="text" placeholder="Enter Title" class="form-control"
                            required>
                        <div class="valid-feedback">Title looks good!</div>
                        <div class="invalid-feedback">Title is missing!</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" name="listing[description]" type="text" rows="4"
                            placeholder="Enter Description" required></textarea>
                        <div class="valid-feedback">Description looks good!</div>
                        <div class="invalid-feedback">Description is missing!</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image_url">Image Url/Link (optional)</label>
                        <input class="form-control" name="listing[image_url]" type="type" placeholder="Paste Url/Link">
                    </div>
                    <div class="row g-3">
                        <div class="mb-3 col-auto">
                            <label class="form-label" for="country">Country</label>
                            <input class="form-control" type="text" name="listing[country]"
                                placeholder="Enter Country Name" required>
                            <div class="invalid-feedback">Please enter valid country name!</div>
                        </div>
                        <div class="mb-3 col-auto">
                            <label class="form-label" for="price">Price</label>
                            <input class="form-control" name="listing[price]" type="number" min="1"
                                placeholder="Enter Price Per Night" required>
                            <div class="invalid-feedback">Please enter valid price!</div>
                        </div>
                    </div>
                    <div class="mb-3 col-auto">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" name="listing[location]" placeholder="Enter Location"
                            required>
                        <div class="invalid-feedback">Please enter a valid location!</div>
                    </div>
                    <button class="btn btn-primary mb-3 add-btn" type="submit">Add</button>
                </form>
            </div>
        </div>
    </body>